@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #091219;
    text-align: center;
    font-family: 'Lemon', serif;
}

h1{
    font-size: 3rem;
    color: #00eaff;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
}

.content{
    display: grid;
    grid-template: repeat(3, minmax(60px, 180px)) / repeat(3, minmax(60px, 180px));
}

.box{
    border: 3px solid #0771c7;
    box-shadow: 0px 0px 10px #00eaff;
    position: relative;
}

.user{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 80%;
    height: 6px;
    background-color: #0771c7;
    border-radius: 3px;
}

.user::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 100%;
    height: 6px;
    background-color: #0771c7;
    border-radius: 3px;
}

.computer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 130px;
    width: 100%;
    max-height: 130px;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #ff002b;
}

.results{
    margin: 10px 0;
    height: 50px;
    color: #ffcc00;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 111;
    display: none;
}

.play{
    font-family: 'Lemon', serif;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    max-width: 200px;
    width: 100%;
    height: 40px;
    padding: 7px 0;
    background: transparent;
    border: 1px solid #00eaff;
    color: #00eaff;
    font-size: 20px;
    width: 700px;
    border-radius: 10px;
    transition: all .2s ease;
    display: none;
}

.play:hover{
    background-color: #516a6c;
}

.play:active{
    box-shadow: 0 0 5px #00eaff;
}

@media (max-width: 600px){
    .content{
        grid-template: repeat(3, 100px)/ repeat(3, 100px);
    }
    .computer{
        max-width: 65px;
        max-height: 65px;
    }
    h1{
        font-size: 2.4rem;
    }
}